 .u-section-1 {
  background-image: url("../../images/vccvv-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 837px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.75rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  width: 678px;
  margin: 171px auto 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 400;
  width: 806px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 73px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 73px auto 60px;
  padding: 19px 47px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-btn-1 {
    align-self: center;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.625rem;
    width: 492px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.375rem;
    width: 429px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
    padding: 15px 40px 16px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 19.96% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 59px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 81px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 119px;
    margin-bottom: 19px;
    padding-top: 8px;
    padding-right: 41px;
    padding-bottom: 9px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 453px;
}

.u-section-2 .u-group-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 453px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-shape-1 {
  width: 30px;
  height: 452px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-shape-2 {
  width: 30px;
  height: 452px;
  background-image: none;
  margin: -452px 0 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  text-transform: uppercase;
  margin: -386px 80px 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 48px 40px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -399px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 54px;
    margin-left: 46px;
    margin-right: 46px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: -413px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 28px;
    margin-left: 42px;
    margin-right: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    min-height: 533px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 779px;
  }

  .u-section-2 .u-group-1 {
    margin-bottom: 39px;
    min-height: 740px;
  }

  .u-section-2 .u-shape-1 {
    height: 778px;
  }

  .u-section-2 .u-shape-2 {
    height: 778px;
    margin-top: -778px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -739px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 40px;
    margin-right: 40px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 868px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 84px 45px 0 256px;
}

.u-section-3 .u-shape-1 {
  width: 228px;
  height: 228px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -101px auto 0 14px;
}

.u-section-3 .u-image-1 {
  height: 388px;
  width: 574px;
  object-position: 39.97% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -145px auto 0 96px;
}

.u-section-3 .u-group-1 {
  width: 736px;
  min-height: 397px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -139px 14px 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 40px 40px 37px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 0;
}

.u-section-3 .u-shape-2 {
  width: 115px;
  height: 115px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -52px 14px 27px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 40px;
    margin-right: 0;
    margin-left: 101px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -56px;
  }

  .u-section-3 .u-image-1 {
    height: 387px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -109px;
    height: auto;
  }

  .u-section-3 .u-text-2 {
    font-weight: normal;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -67px;
    margin-bottom: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 894px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 39px;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-3 .u-shape-2 {
    margin-right: 0;
    margin-bottom: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1438px;
  }

  .u-section-3 .u-image-1 {
    height: 364px;
    width: 540px;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    margin-top: -86px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1309px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 29px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 4px;
  }

  .u-section-3 .u-image-1 {
    height: 229px;
    width: 340px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-top: 49px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -42px;
    margin-bottom: 60px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1128px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 26px 249px 0 52px;
}

.u-section-4 .u-shape-1 {
  width: 228px;
  height: 228px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 26px auto 0 0;
}

.u-section-4 .u-group-1 {
  width: 585px;
  min-height: 250px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -164px auto 0 52px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-1 {
  width: 412px;
  height: 412px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -406px 52px 0 auto;
}

.u-section-4 .u-group-2 {
  width: 585px;
  min-height: 184px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 46px auto 0 52px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 0 1px;
}

.u-section-4 .u-shape-2 {
  width: 228px;
  height: 228px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 206px auto 0 0;
}

.u-section-4 .u-group-3 {
  width: 585px;
  min-height: 299px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -382px auto 0 52px;
}

.u-section-4 .u-container-layout-3 {
  padding: 28px 30px;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 0;
}

.u-section-4 .u-image-2 {
  width: 412px;
  height: 244px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -535px 52px 0 auto;
}

.u-section-4 .u-shape-3 {
  width: 115px;
  height: 115px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -84px 429px 0 auto;
}

.u-section-4 .u-image-3 {
  width: 412px;
  height: 252px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 8px 52px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 101px;
    margin-left: 0;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-image-1 {
    width: 246px;
    height: 246px;
    margin-top: -248px;
    margin-right: 25px;
  }

  .u-section-4 .u-group-2 {
    margin-top: 54px;
    height: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-group-3 {
    height: auto;
  }

  .u-section-4 .u-image-2 {
    width: 246px;
    height: 186px;
    object-position: 100% 50%;
    margin-top: -537px;
    margin-right: 25px;
  }

  .u-section-4 .u-shape-3 {
    margin-top: -30px;
    margin-right: 235px;
  }

  .u-section-4 .u-image-3 {
    width: 246px;
    height: 299px;
    object-position: 35.87% 50%;
    margin-top: -33px;
    margin-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1571px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    width: 616px;
    min-height: 256px;
    margin-left: auto;
  }

  .u-section-4 .u-image-1 {
    width: 260px;
    height: 260px;
    margin-top: 27px;
    margin-right: auto;
    margin-left: 60px;
  }

  .u-section-4 .u-group-2 {
    width: 616px;
    margin-top: 27px;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: 30px;
  }

  .u-section-4 .u-group-3 {
    width: 616px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    width: 288px;
    height: 259px;
    margin-top: -822px;
    margin-right: 52px;
  }

  .u-section-4 .u-shape-3 {
    margin-top: 182px;
    margin-right: 90px;
  }

  .u-section-4 .u-image-3 {
    width: 258px;
    height: 310px;
    margin-top: 215px;
    margin-right: 52px;
    margin-bottom: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-group-2 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
    margin-left: 31px;
  }

  .u-section-4 .u-group-3 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-4 .u-image-2 {
    height: 258px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -28px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2393px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    min-height: 476px;
    margin-top: -158px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 23px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-image-1 {
    width: 269px;
    height: 269px;
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-4 .u-group-2 {
    min-height: 247px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 0;
    margin-left: 1px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-4 .u-group-3 {
    min-height: 457px;
    margin-top: 135px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-image-2 {
    width: 269px;
    height: 280px;
    margin-top: -774px;
    margin-right: auto;
  }

  .u-section-4 .u-shape-3 {
    margin-top: 458px;
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    margin-top: -40px;
    margin-right: auto;
    margin-bottom: 37px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 868px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 42px 27px 0 274px;
}

.u-section-5 .u-shape-1 {
  width: 228px;
  height: 228px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 266px auto 0 0;
}

.u-section-5 .u-group-1 {
  width: 667px;
  min-height: 395px;
  height: auto;
  margin: -480px auto 0 42px;
}

.u-section-5 .u-container-layout-1 {
  padding: 40px 39px 35px;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  font-weight: normal;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 1px;
}

.u-section-5 .u-shape-2 {
  width: 115px;
  height: 115px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 170px 0 0 auto;
}

.u-section-5 .u-image-1 {
  height: 291px;
  width: 506px;
  object-position: 39.97% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -348px 27px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 101px;
  }

  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-shape-2 {
    margin-top: 202px;
  }

  .u-section-5 .u-image-1 {
    height: 387px;
    margin-top: -434px;
    margin-right: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 944px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-5 .u-shape-2 {
    margin-top: 282px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -439px;
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1438px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-shape-2 {
    margin-top: 262px;
  }

  .u-section-5 .u-image-1 {
    height: 364px;
    margin-top: -464px;
    margin-right: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1147px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 29px;
    margin-left: auto;
  }

  .u-section-5 .u-group-1 {
    min-height: 660px;
    margin-top: -164px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-shape-2 {
    margin-top: -36px;
  }

  .u-section-5 .u-image-1 {
    height: 229px;
    margin-top: -37px;
    margin-bottom: 42px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("../../images/book.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 682px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 48px auto 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 37px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 562px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 430px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.25rem;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 604px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 25px auto 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 43px 0 60px;
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-2 {
    font-size: 1.25rem;
  }
} .u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/library_back.jfif");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 532px;
}

.u-section-8 .u-text-1 {
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 36px auto 0 0;
}

.u-section-8 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 55px 60px 55px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-8 .u-text-2 {
    width: 760px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-8 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
    font-size: 1.25rem;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 1024px;
}

.u-section-9 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 40px auto 0 0;
}

.u-section-9 .u-shape-1 {
  width: 879px;
  height: 822px;
  margin: 56px -34px 0 auto;
}

.u-section-9 .u-image-1 {
  width: 520px;
  height: 624px;
  transform-origin: center center 0px;
  object-position: 50% 0%;
  transform: scaleX(-1);
  margin: -740px 37px 0 auto;
}

.u-section-9 .u-list-1 {
  width: 583px;
  margin: -706px auto 40px 0;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  grid-gap: 20px 20px;
  min-height: 822px;
}

.u-section-9 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-9 .u-container-layout-1 {
  padding: 33px 30px 30px;
}

.u-section-9 .u-text-2 {
  font-size: 4.0625rem;
  font-family: Montserrat, sans-serif;
  margin: 0 auto;
}

.u-section-9 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-9 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-9 .u-container-layout-2 {
  padding: 33px 30px 30px;
}

.u-section-9 .u-text-4 {
  font-size: 4.0625rem;
  font-family: Montserrat, sans-serif;
  margin: 0 auto;
}

.u-section-9 .u-text-5 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-9 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-9 .u-container-layout-3 {
  padding: 33px 30px 30px;
}

.u-section-9 .u-text-6 {
  font-size: 4.0625rem;
  font-family: Montserrat, sans-serif;
  margin: 0 auto;
}

.u-section-9 .u-text-7 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-9 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-9 .u-container-layout-4 {
  padding: 33px 30px 30px;
}

.u-section-9 .u-text-8 {
  font-size: 4.0625rem;
  font-family: Montserrat, sans-serif;
  margin: 0 auto;
}

.u-section-9 .u-text-9 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-9 .u-list-item-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-9 .u-container-layout-5 {
  padding: 33px 30px 30px;
}

.u-section-9 .u-text-10 {
  font-size: 4.0625rem;
  font-family: Montserrat, sans-serif;
  margin: 0 auto;
}

.u-section-9 .u-text-11 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-image-1 {
    width: 297px;
    height: 461px;
    margin-top: -797px;
    margin-right: 40px;
  }

  .u-section-9 .u-list-1 {
    height: auto;
    margin-top: -486px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1007px;
  }

  .u-section-9 .u-shape-1 {
    width: 720px;
    height: 862px;
    margin-top: 20px;
    margin-right: -30px;
  }

  .u-section-9 .u-image-1 {
    height: 477px;
    width: 642px;
    margin-right: 30px;
  }

  .u-section-9 .u-list-1 {
    margin-top: -842px;
    margin-bottom: 39px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1024px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-9 .u-shape-1 {
    height: 425px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-image-1 {
    width: 490px;
    height: 364px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-9 .u-list-1 {
    width: 540px;
    margin-top: -486px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-11 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1166px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 20px;
    margin-left: 11px;
  }

  .u-section-9 .u-shape-1 {
    height: 891px;
    width: 369px;
    margin-top: 31px;
    margin-left: -14px;
    margin-right: -14px;
  }

  .u-section-9 .u-image-1 {
    height: 257px;
    width: 311px;
    margin-top: -298px;
    margin-left: 29px;
  }

  .u-section-9 .u-list-1 {
    width: 272px;
    margin: -867px auto 60px 11px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 992px;
  }

  .u-section-9 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-9 .u-text-4 {
    font-size: 3rem;
  }

  .u-section-9 .u-text-6 {
    font-size: 3rem;
  }

  .u-section-9 .u-text-8 {
    font-size: 3rem;
  }

  .u-section-9 .u-text-10 {
    font-size: 3rem;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 898px;
}

.u-section-10 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  text-align: center;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 80px auto 0;
}

.u-section-10 .u-list-1 {
  margin-top: 37px;
  margin-bottom: 60px;
}

.u-section-10 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 553px;
  grid-gap: 0px;
}

.u-section-10 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-image-1 {
  width: 240px;
  height: 240px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-10 .u-text-2 {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-10 .u-text-3 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-10 .u-text-4 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-10 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-10 .u-icon-1 {
  height: 100%;
}

.u-section-10 .u-icon-2 {
  height: 100%;
}

.u-section-10 .u-icon-3 {
  height: 100%;
}

.u-section-10 .u-icon-4 {
  height: 100%;
}

.u-section-10 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-image-2 {
  width: 240px;
  height: 240px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-10 .u-text-5 {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: none;
  font-size: 1.5rem;
}

.u-section-10 .u-text-6 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-10 .u-text-7 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-10 .u-social-icons-2 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-10 .u-icon-5 {
  height: 100%;
}

.u-section-10 .u-icon-6 {
  height: 100%;
}

.u-section-10 .u-icon-7 {
  height: 100%;
}

.u-section-10 .u-icon-8 {
  height: 100%;
}

.u-section-10 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

.u-section-10 .u-image-3 {
  width: 240px;
  height: 240px;
  object-position: 50% 94.17%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-10 .u-text-8 {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: none;
  font-size: 1.5rem;
}

.u-section-10 .u-text-9 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-10 .u-text-10 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-10 .u-social-icons-3 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-10 .u-icon-9 {
  height: 100%;
}

.u-section-10 .u-icon-10 {
  height: 100%;
}

.u-section-10 .u-icon-11 {
  height: 100%;
}

.u-section-10 .u-icon-12 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-10 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 456px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1429px;
  }

  .u-section-10 .u-list-1 {
    margin-bottom: 41px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1048px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-11 {
  min-height: 831px;
}

.u-section-11 .u-shape-1 {
  height: 192px;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-11 .u-layout-wrap-1 {
  width: 1034px;
  margin: -443px auto -191px;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 687px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-11 .u-container-layout-1 {
  padding: 50px 60px;
}

.u-section-11 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: 4px;
  line-height: 1;
  font-weight: 700;
  text-transform: none;
  margin: 7px auto 0 0;
}

.u-section-11 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 20px 2px 0 0;
}

.u-section-11 .u-image-1 {
  min-height: 687px;
  background-image: url("../../images/rrr-min.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-11 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-11 {
    min-height: 769px;
  }

  .u-section-11 .u-shape-1 {
    margin-top: 55px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 883px;
    margin-bottom: -196px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 676px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 0;
  }

  .u-section-11 .u-image-1 {
    min-height: 676px;
  }
}

@media (max-width: 991px) {
   .u-section-11 {
    min-height: 824px;
  }

  .u-section-11 .u-shape-1 {
    margin-top: 189px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -342px;
    margin-bottom: 12px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 726px;
  }

  .u-section-11 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-11 .u-image-1 {
    min-height: 726px;
  }
}

@media (max-width: 767px) {
   .u-section-11 {
    min-height: 1142px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-11 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-11 .u-image-1 {
    min-height: 964px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-11 {
    min-height: 809px;
  }

  .u-section-11 .u-shape-1 {
    margin-top: 685px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -822px;
    margin-bottom: 55px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-11 .u-image-1 {
    min-height: 607px;
  }
}